
.reportTable {
  border-spacing: 0 15px !important; 
  border-collapse: collapse !important;
  writing-mode: horizontal-tb;
  border-inline: solid !important;
  border-inline-end: solid;
  border-inline-color: #E49BA6 !important;
}

.rowCell {
  background: white !important;
  padding: 20px !important;
  border-radius: 12px !important;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05) !important;
  border: none !important;

}

.reportTable tr:hover .rowCell {
  transform: scale(1.02);
  transition: all 0.2s ease;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1) !important;
}
