
.reportTable {
  border-collapse: separate !important; 
  border-spacing: 0 6px !important; 
  background: transparent !important;
  border: none !important;
}

.viz-title { display: none !important; }

.reportTable .headerRow th,
.reportTable th.headerCell,
.reportTable th.headerCell div,
.reportTable th.headerCell span {
  text-align: left !important;
  justify-content: flex-start !important; 
  align-items: center !important;
  margin: 0 !important; 
  padding: 4px 6px !important;
  background: transparent !important;
  color: #0D1A63 !important; 
  font-size: 10px !important;
  font-weight: 700 !important;
  text-transform: uppercase !important; 
  border: none !important;
  border-bottom: 2px solid #94a3b8 !important; 
}

.reportTable td.rowCell {
  background: #ffffff !important;
  border: none !important;
  
  padding: 1px 12px !important; 
  
  border-top: 1px solid #94a3b8 !important;    
  border-bottom: 1px solid #94a3b8 !important; 
  
  color: #1e293b !important; 
  font-family: 'Segoe UI', Roboto, sans-serif !important;
  font-size: 6px !important;
  font-weight: 500 !important;
  
  text-align: left !important; 
  vertical-align: middle !important;
  transition: background 0.2s ease !important;
}


.reportTable td.rowCell:first-child {
  border-left: 5px solid #3b82f6 !important; 
  border-top-left-radius: 8px !important;
  border-bottom-left-radius: 8px !important;
  border-top: 1px solid #94a3b8 !important;
  border-bottom: 1px solid #94a3b8 !important; 
}


.reportTable td.rowCell:last-child {
  border-right: 1px solid #94a3b8 !important; 
  border-top-right-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
}

