
.reportTable {
  position: relative !important;
  padding-top: 80px !important; 


.reportTable::before {
  content: "ACTIVE ROBOTS"; 
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%); 
  
  
  text-align: center; 
  font-size: 20px; 
  font-family: 'Roboto', sans-serif; 
  font-weight: bold;
  padding: 14px 40px; 
  background: linear-gradient(115deg, #B22222 0%, #FFA6A6 100%); 
  color: #ffffff; 
  border-radius: 50px; 
  box-shadow: 0 10px 15px -3px rgba(178, 34, 34, 0.4);
  

  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap; 
  z-index: 100;
}
