
.reportTable {
  display: block !important;
  background: transparent !important;
  border: none !important;
}

.reportTable tbody {
  display: flex !important;
  flex-wrap: wrap !important;
  gap: 15px !important; 
  padding: 20px !important;
  justify-content: center !important;
}


.reportTable tr {
  display: flex !important;
  flex-direction: column !important;
  width: 105px !important;  
  height: 65px !important; 
  background-color: #b12908; 
  border-radius: 15px !important;
  box-shadow: 0 8px 20px rgba(178, 34, 34, 0.2) !important;
  padding: 10px !important;
  justify-content: center !important; 
  align-items: center !important;    
  position: relative !important;
  border-left: 6px solid #781E12 !important; 
}

.reportTable tr.headerRow, 
.reportTable thead,
.reportTable th {
  display: none !important;
}

.rowCell {
  display: block !important;
  width: 100% !important;
  color: #ffffff !important; 
  text-align: center !important;
  font-family: 'Segoe UI', Roboto, sans-serif !important;
  font-size: 12px !important; 
  font-weight: 400 !important; /* Bold olmayan normal yazı */
  line-height: 1.2 !important;
  border: none !important;
}
.reportTable tr:nth-child(1) .rowCell,
.reportTable tr:nth-child(2) .rowCell,
.reportTable tr:nth-child(3) .rowCell {
    background-color: #b22222 !important;
}

/* 4. ve 5. kutuyu sarı yap */
.reportTable tr:nth-child(4) .rowCell,
.reportTable tr:nth-child(5) .rowCell {
    background-color: #DAA520 !important;
}
/*.rowCell:first-child {
  font-size: 10px !important;
  font-weight: 400 !important;
  margin-bottom: 4px !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important;
  padding-bottom: 2px !important;
}*/



.reportTable tr.headerRow, 
.reportTable thead,
.reportTable th {
  display: none !important;
}

