
.reportTable {
  display: block !important;
  background: transparent !important;
  border: none !important;
}

.reportTable tbody {
  display: flex !important;
  flex-wrap: wrap !important;
  gap: 15px !important; 
  padding: 20px !important;
  justify-content: center !important;
}


.reportTable tr {
  display: flex !important;
  flex-direction: column !important;
  width: 105px !important;  
  height: 30px !important; 
  background-color: #b12908; 
  border-radius: 15px !important;
  box-shadow: 0 8px 20px rgba(178, 34, 34, 0.2) !important;
  padding: 10px !important;
  justify-content: center !important; 
  align-items: center !important;    
  position: relative !important;
  border-left: 6px solid #781E12 !important; 
}

.reportTable tr.headerRow, 
.reportTable thead,
.reportTable th {
  display: none !important;
}

.rowCell {
  display: block !important;
  width: 100% !important;
  color: #ffffff !important; 
  text-align: center !important;
  font-family: 'Segoe UI', Roboto, sans-serif !important;
  font-size: 10px !important; 
  font-weight: 400 !important; /* Bold olmayan normal yazı */
  line-height: 1.2 !important;
  border: none !important;
}

/*.rowCell:first-child {
  font-size: 10px !important;
  font-weight: 400 !important;
  margin-bottom: 4px !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important;
  padding-bottom: 2px !important;
}*/


.rowCell:nth-child(2) {
  font-size: 14px !important; 
  font-weight: 700 !important; 
}


.reportTable tr:has(.rowCell[title*="0"]) {
  background-color: #B22222 !important;
  border-left: 6px solid #781E12 !important;
}
.reportTable tr:has(.rowCell[title*="0"]) .rowCell {
  color: #ffffff !important; 
}


.reportTable tr:has(.rowCell[tr*="40"]) {
  background-color: #228B22 !important;
  border-left: 6px solid #145214 !important;
}
.reportTable tr:has(.rowCell[title*="40"]) .rowCell {
  color: #ffffff !important;
}


.reportTable tr.headerRow, 
.reportTable thead,
.reportTable th {
  display: none !important;
}

.reportTable tr:has([aria-label*="CRIT"]) {
  background-color: #B22222 !important;
  border-left: 6px solid #781E12 !important;
}
.reportTable tr:has([title*="CRIT"]) .rowCell {
  color: #ffffff !important; /* Yazıları beyaz yap */
}

/* Eğer hücre içeriği "OK" (40) ise kartı YEŞİL yap */

.reportTable tr:has([aria-label*="OK"]) {
  background-color: #228B22 !important;
  border-left: 6px solid #145214 !important;
}
.reportTable tr:has([title*="OK"]) .rowCell {
  color: #ffffff !important;
}
